* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #fff;
  color: #111;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

.board {
  position: relative;
  padding: 0;
}

.tile {
  position: absolute;
  list-style-type: none;
  display: grid;
  place-items: center;
  background: #111;
  color: #fff;
  font-size: 1rem;
}